//COLORS

$color-grass: #08FEC3;
$color-poison: #AF08FE;
$color-water: #00A3FF;
$color-fire: #FE0808;
$color-electric: #FFB800;
$color-ground: #85826E;
$color-fairy: #FBA1EC;
$color-normal: #C4C4C4;
$color-flying: #5317FC;
$color-default: #0E0E0E;

$gray-background: #F1F4F5;
$primary-text: #000;
$secondary-text: #616161;

//FONTS

$font-mulish: 'Mulish', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;

//BREAKPOINTS

$screen-mobile-max: 576px;

$screen-tablet-min: 768px;

$screen-tablet-max: 1200px;

$screen-desktop-min: 1201px;
